* {
  padding: 0;
  margin: 0;
}

html {
  background: #eee;
  color: #000;
}

body {
  font-family: sans-serif;
  width: 500px;
  margin: 20px auto;
  text-align: center;
}

h1, h2, h3 {
  padding: 5px 0;
}

h2 {
  font-size: 25px;
  color: #333;
}

h3 {
  font-size: 15px;
  color: #999;
}

a {
  text-decoration: none;
  color: #44f;
}

footer {
  color: #aaa;
  font-size: 15px;
  padding: 10px 0;
}

.thing-we-did {
  background: #fff;
  width: 500px;
  height: 500px;
  border: 2px solid #ccc;
  margin: 10px auto;
}
