* {
  padding: 0;
  margin: 0;
}

p, h1, footer, figcaption {
  padding: 10px 10px;
}

.thing-we-did, img, canvas, body {
  width: 500px;
  margin: 0 auto;
}

html {
  background: #eee;
  color: #000;
}

body {
  color: #999;
  font-family: sans-serif;
  font-size: 16px;
  margin: 20px auto;
  text-align: center;
}

h1 {
  color: #111;
  font-family: monospace;
  font-size: 70px;
}

a {
  color: #777;
}

a:hover {
  color: #111;
}

footer {
  color: #bbb;
  font-style: italic;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  margin-top: 50px;
}

figcaption span {
  font-weight: bold;
}

img {
  display: block;
}

.thing-we-did {
  background: #fff;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  margin: 10px auto;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 40px;
  }

  .thing-we-did, img, canvas, body  {
    width: 100%;
  }

  h3, figcaption, footer {
    font-size: 14px;
  }
}
