* {
  padding: 0;
  margin: 0;
}

html {
  background: #eee;
  color: #000;
}

body {
  color: #3c3c3c;
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
}

p, h1, footer {
  padding: 10px 10px;
}

p, footer, .thing-we-did {
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}

.thing-we-did, img, canvas, body {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.thing-we-did {
  background: #fff;
}

.longform {
  text-align: left;
  border: 0;
}

.longform iframe { margin: 1rem 0 1rem -50px; }

.longform h1, .longform h2, .longform h3, .longform h4 { text-align: center; }

.longform * { border: 0; }

h1 {
  color: #111;
  font-family: monospace;
  font-size: 65px;
}

a {
  color: #777;
}

a:hover {
  color: #111;
}

p {
  margin-bottom: 20px;
}

footer {
  color: #bbb;
}

footer a {
  color: #999;
}

figcaption {
  padding: 20px 10px;
}

figcaption span {
  font-weight: bold;
}

img {
  display: block;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 40px;
  }

  figcaption, footer {
    font-size: 14px;
  }

  .thing-we-did, img, canvas, body  {
    width: 100%;
  }
}
